.header-container {
    height:810px;
    position:relative;
    background-image: url('../../../images/chairBg.png');  
    background-size: cover;
    background-position: center center;
}
.header-container::after{
    height:780px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #3A4256;
    z-index: -1;
}
